1.Igual que en los ejercicios de la clase invertida, evalúa si las siguientes afirmaciones corresponden a una distribución exponencial o poisson.
¿El tiempo que transcurre entre la llegada de autobuses a una parada sigue una distribución exponencial o de Poisson?

Es distribución exponencial, ya que es el que mide el tiempo que ocurre entre un evento y otro

¿El número de errores en un artículo de noticias sigue una distribución exponencial o de Poisson? 

Sigue una distribución de Poisson ya que está midiendo el número de veces que ocurre un evento (en este caso, un error)

¿El tiempo que transcurre entre la llegada de solicitudes de servicio en un restaurante sigue una distribución exponencial o de Poisson?

Sigue una distribución exponencial

¿El número de accidentes de tráfico en una hora en una ciudad sigue una distribución exponencial o de Poisson?

Distribución Poisson

¿El tiempo entre llegadas de llamadas telefónicas a una central de emergencias sigue una distribución exponencial o de Poisson?

Distribución Exponencial

¿El número de clientes que ingresan a una tienda en una hora sigue una distribución exponencial o de Poisson?

Distribución Poisson

¿El tiempo entre llegadas de correos electrónicos en una bandeja de entrada sigue una distribución exponencial o de Poisson?

Distribución exponencial

¿El número de defectos en una línea de producción por día sigue una distribución exponencial o de Poisson?

Distribución Poisson

¿El tiempo que transcurre entre la llegada de taxis en una parada sigue una distribución exponencial o de Poisson?

Distribución Exponencial

¿El número de errores de ortografía en un libro de texto sigue una distribución exponencial o de Poisson?

Distribución Poisson

2.Ejercicios intervalo de confianza. Al igual que en el caso del ejercicio de la clase invertida, piensa un motivo por el que sería interesante calcular estos intervalos de confianza para la extracción de insights.

Intervalo de Confianza para la Esperanza de Vida
Contexto: Trabajas en una organización de salud global y deseas estimar el intervalo de confianza al 95% para la esperanza de vida promedio de cada continente.
Nota: Cuidado porque puede que os salgan algunos nulos, genera un código para que no salgan nulos en los intervalos de confianza.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import shapiro,  poisson, chisquare, expon, kstest
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings("ignore")
from scipy import stats

In [2]:
df = pd.read_csv('world_data_notnull.csv', index_col = 0)

In [3]:
media_vida = df['life_expectancy'].mean()
error_vida = stats.sem(df['life_expectancy'])
nivel_confianza = 0.95
grados_libertad = len(df['life_expectancy']) -1
valor_critico = stats.t.ppf((1+nivel_confianza)/2,df=grados_libertad)
limite_inferior = media_vida - valor_critico * error_vida
limite_superior = media_vida + valor_critico * error_vida

print("Intervalo de Confianza para la esperanza de vida:")
print(f"Media Muestral: {np.round(media_vida, 2)}")
print(f"Error Estándar: {np.round(error_vida, 2)}")
print(f"Nivel de Confianza: {nivel_confianza}")
print(f"Valor Crítico: {np.round(valor_critico, 2)}")
print(f"Intervalo de Confianza: ({np.round(limite_inferior, 2)}, {np.round(limite_superior, 2)})")

Intervalo de Confianza para la esperanza de vida:
Media Muestral: 72.38
Error Estándar: 0.53
Nivel de Confianza: 0.95
Valor Crítico: 1.97
Intervalo de Confianza: (71.33, 73.42)

Los resultados indican que con un 95% de confianza, la esperanza de vida estaría entre 71 y 73 años

Intervalo de Confianza para el PIB
Contexto: Eres una economista y quieres calcular el intervalo de confianza al 90% para el Producto Interno Bruto (PIB) de los continentes.

In [4]:
media_pib = df['gdp'].mean()
error_pib = stats.sem(df['gdp'],nan_policy='omit')
nivel_confianza_pib = 0.90
grados_libertad_pib = len(df['gdp']) -1
valor_critico_pib = stats.t.ppf((1+nivel_confianza_pib)/2,df=grados_libertad_pib)
limite_inferior_pib = media_pib - valor_critico_pib * error_pib
limite_superior_pib = media_pib + valor_critico_pib * error_pib

print("Intervalo de Confianza para el pib:")
print(f"Media Muestral: {np.round(media_pib, 2)}")
print(f"Error Estándar: {np.round(error_pib, 2)}")
print(f"Nivel de Confianza: {nivel_confianza_pib}")
print(f"Valor Crítico: {np.round(valor_critico_pib, 2)}")
print(f"Intervalo de Confianza: ({np.round(limite_inferior_pib, 2)}, {np.round(limite_superior_pib, 2)})")

Intervalo de Confianza para la esperanza de vida:
Media Muestral: 477295901399.54
Error Estándar: 156356459750.61
Nivel de Confianza: 0.9
Valor Crítico: 1.65
Intervalo de Confianza: (218878391528.32, 735713411270.76)

Intervalo de Confianza para la Tasa de Natalidad
Contexto: Trabajas en una agencia gubernamental que se ocupa de cuestiones demográficas y deseas determinar el intervalo de confianza al 99% para la tasa de natalidad promedio en Asia.

In [9]:
df.head(4)

,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,calling_code,capital/major_city,cpi,cpi_change_,currency-code,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,largest_city,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud,continent,birth_rate,co2-emissions,fertility_rate,infant_mortality,life_expectancy,maternal_mortality_ratio
0,Afghanistan,60.0,AF,58.1,652.230,323.0,93.0,Kabul,149.90,2.3,AFN,2.1,0.70,1.910135e+10,104.0,9.7,Kabul,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.93911,67.709953,Asia,32.49,8.672,4.47,47.9,64.50,638.0
1,Albania,105.0,AL,43.1,28.748,9.0,355.0,Tirana,119.05,1.4,ALL,28.1,1.36,1.527808e+10,107.0,55.0,Tirana,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europe,11.78,4.536,1.62,7.8,78.50,15.0
2,Algeria,18.0,DZ,17.4,NaN,317.0,213.0,Algiers,151.36,2.0,DZD,0.8,0.28,1.699882e+11,109.9,51.4,Algiers,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626,Africa,24.28,150.006,3.02,20.1,76.70,112.0
3,Andorra,164.0,AD,40.0,468.000,NaN,376.0,Andorra la Vella,NaN,NaN,EUR,34.0,1.51,3.154058e+09,106.4,NaN,Andorra la Vella,6.63,Catalan,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801,Europe,7.20,469.000,1.27,2.7,79.56,26.0

In [18]:
asia = df[df['continent'] == 'Asia'].reset_index()
asia.head(5)

,index,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,calling_code,capital/major_city,cpi,cpi_change_,currency-code,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,largest_city,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud,continent,birth_rate,co2-emissions,fertility_rate,infant_mortality,life_expectancy,maternal_mortality_ratio
0,0,Afghanistan,60.000,AF,58.1,652.230,323.0,93.0,Kabul,149.90,2.3,AFN,2.1,0.70,1.910135e+10,104.0,9.7,Kabul,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.93911,67.709953,Asia,32.49,8.672,4.47,47.9,64.5,638.0
1,7,Armenia,104.000,AM,58.9,29.743,49.0,374.0,Yerevan,129.18,1.4,AMD,11.7,0.77,1.367280e+10,92.7,54.6,Yerevan,0.66,Armenian,81.6,4.40,2957731.0,55.6,20.9,22.6,16.99,1869848.0,40.069099,45.038189,Asia,13.99,5.156,1.76,11.0,74.9,26.0
2,10,Azerbaijan,123.000,AZ,57.7,86.600,82.0,994.0,Baku,156.32,2.6,AZN,14.1,0.56,3.920700e+10,99.7,27.7,Baku,0.47,Azerbaijani language,78.6,3.45,10023318.0,66.5,13.0,40.7,5.51,5616165.0,40.143105,47.576927,Asia,14.00,37.620,1.73,19.2,72.9,26.0
3,12,Bahrain,2.239,BH,11.1,765.000,19.0,973.0,Manama,117.59,2.1,BHD,0.8,0.43,3.857407e+10,99.4,50.5,Riffa,NaN,Arabic,25.1,0.93,1501635.0,73.4,4.2,13.8,0.71,1467109.0,26.0667,50.5577,Asia,13.99,31.694,1.99,6.1,77.2,14.0
4,13,Bangladesh,1.265,BD,70.6,148.460,221.0,880.0,Dhaka,179.68,5.6,BDT,11.0,1.12,3.025713e+11,116.5,20.6,Dhaka,0.51,Bengali,71.8,0.58,167310838.0,59.0,8.8,33.4,4.19,60987417.0,23.684994,90.356331,Asia,18.18,84.246,2.04,25.1,72.3,173.0

In [20]:
media_asia = asia['birth_rate'].mean()
error_asia = stats.sem(asia['birth_rate']) 
nivel_confianza_br = 0.99
grados_libertad_br = len(asia['birth_rate']) -1
valor_critico_br= stats.t.ppf((1+nivel_confianza_br)/2,df=grados_libertad_br)
limite_inferior_br = media_asia - valor_critico_br * error_asia
limite_superior_br = media_asia + valor_critico_br * error_asia
print("Intervalo de Confianza para la Tasa de natalidad en Asia:")
print(f"Media Muestral: {np.round(media_asia, 2)}")
print(f"Error Estándar: {np.round(error_asia, 2)}")
print(f"Nivel de Confianza: {nivel_confianza_br}")
print(f"Valor Crítico: {np.round(valor_critico_br, 2)}")
print(f"Intervalo de Confianza: ({np.round(limite_inferior_br, 2)}, {np.round(limite_superior_br, 2)})")

Intervalo de Confianza para la Tasa de natalidad en Asia:
Media Muestral: 18.57
Error Estándar: 0.92
Nivel de Confianza: 0.99
Valor Crítico: 2.68
Intervalo de Confianza: (16.1, 21.05)

Intervalo de Confianza para la Tasa de Desempleo
Contexto: Eres un analista de políticas públicas y deseas calcular el intervalo de confianza al 95% para la tasa de desempleo promedio en los países de Oceanía.

In [23]:
oceania = df[df['continent'] == 'Oceania'].reset_index()
oceania.head(4)

,index,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,calling_code,capital/major_city,cpi,cpi_change_,currency-code,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,largest_city,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud,continent,birth_rate,co2-emissions,fertility_rate,infant_mortality,life_expectancy,maternal_mortality_ratio
0,8,Australia,3.0,AU,48.2,NaN,58.0,61.0,Canberra,119.80,1.6,AUD,16.3,0.93,1.392681e+12,100.3,113.1,Sydney,13.59,Unknown,19.6,3.68,25766605.0,65.5,23.0,47.4,5.27,21844756.0,-25.274398,133.775136,Oceania,12.60,375.908,1.74,3.1,82.7,6.0
1,58,Fiji,49.0,FJ,23.3,18.274,4.0,679.0,Suva,132.30,1.8,FJD,55.9,0.82,5.535549e+09,106.4,16.1,Suva,1.28,Fiji Hindi,21.4,0.84,889953.0,57.6,24.2,32.1,4.10,505048.0,-17.713371,178.065032,Oceania,21.28,2.046,2.77,21.6,67.3,34.0
2,89,Kiribati,147.0,KI,42.0,811.000,NaN,686.0,South Tarawa,99.55,0.6,AUD,15.0,NaN,1.946472e+08,101.3,NaN,South Tarawa,NaN,English,0.2,0.20,117606.0,NaN,22.0,32.7,NaN,64489.0,1.8368976,-157.3768317,Oceania,27.89,66.000,3.57,41.2,68.1,92.0
3,107,Marshall Islands,329.0,MH,63.9,181.000,NaN,692.0,Majuro,NaN,NaN,USD,70.2,1.44,2.212780e+08,84.7,23.7,Majuro,2.00,Marshallese,10.0,0.42,58791.0,NaN,17.8,65.9,NaN,45514.0,7.131474,171.184478,Oceania,29.03,143.000,4.05,27.4,65.2,93.8

In [25]:
media_ur= oceania['unemployment_rate'].mean()
error_ur = stats.sem(oceania['unemployment_rate'],nan_policy='omit') 
nivel_confianza_ur = 0.95
grados_libertad_ur = len(oceania['unemployment_rate']) -1
valor_critico_ur= stats.t.ppf((1+nivel_confianza_ur)/2,df=grados_libertad_ur)
limite_inferior_ur = media_ur - valor_critico_ur * error_ur
limite_superior_ur = media_ur + valor_critico_ur * error_ur
print("Intervalo de Confianza para la Tasa de Desempleo en Oceanía:")
print(f"Media Muestral: {np.round(media_ur, 2)}")
print(f"Error Estándar: {np.round(error_ur, 2)}")
print(f"Nivel de Confianza: {nivel_confianza_ur}")
print(f"Valor Crítico: {np.round(valor_critico_ur, 2)}")
print(f"Intervalo de Confianza: ({np.round(limite_inferior_ur, 2)}, {np.round(limite_superior_ur, 2)})")

Intervalo de Confianza para la Tasa de Desempleo en Oceanía:
Media Muestral: 3.79
Error Estándar: 0.87
Nivel de Confianza: 0.95
Valor Crítico: 2.2
Intervalo de Confianza: (1.87, 5.72)

Intervalo de Confianza para la Tasa de Impuestos
Contexto: Trabajas en un ministerio de finanzas y deseas estimar el intervalo de confianza al 90% para la tasa de impuestos promedio en los países de África.

In [26]:
africa = df[df['continent'] == 'Africa'].reset_index()
africa.head(4)

,index,country,density,abbreviation,agricultural_land(_%),land_area,armed_forces_size,calling_code,capital/major_city,cpi,cpi_change_,currency-code,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,largest_city,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitud,longitud,continent,birth_rate,co2-emissions,fertility_rate,infant_mortality,life_expectancy,maternal_mortality_ratio
0,2,Algeria,18.0,DZ,17.4,NaN,317.0,213.0,Algiers,151.36,2.0,DZD,0.8,0.28,1.699882e+11,109.9,51.4,Algiers,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626,Africa,24.28,150.006,3.02,20.1,76.7,112.0
1,4,Angola,26.0,AO,47.5,NaN,117.0,244.0,Luanda,261.73,17.1,AOA,46.3,0.97,9.463542e+10,113.5,9.3,Luanda,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887,Africa,40.73,34.693,5.52,51.6,60.8,241.0
2,18,Benin,108.0,BJ,33.3,112.622,12.0,229.0,Porto-Novo,110.71,-0.9,XOF,37.8,0.72,1.439071e+10,122.0,12.3,Cotonou,0.39,French,40.5,0.08,11801151.0,70.9,10.8,48.9,2.23,5648149.0,9.30769,2.315834,Africa,36.22,6.476,4.84,60.5,61.5,397.0
3,22,Botswana,4.0,BW,45.6,581.730,9.0,267.0,Gaborone,149.75,2.8,BWP,18.9,0.71,1.834051e+10,103.2,24.9,Gaborone,0.29,English,5.3,0.37,2346179.0,70.8,19.5,25.1,18.19,1616550.0,-22.328474,24.684866,Africa,24.82,6.340,2.87,30.0,69.3,144.0

In [27]:
media_tt= africa['total_tax_rate'].mean()
error_tt = stats.sem(africa['total_tax_rate'],nan_policy='omit') 
nivel_confianza_tt = 0.90
grados_libertad_tt = len(africa['total_tax_rate']) -1
valor_critico_tt= stats.t.ppf((1+nivel_confianza_tt)/2,df=grados_libertad_tt)
limite_inferior_tt = media_tt - valor_critico_tt * error_tt
limite_superior_tt = media_tt + valor_critico_tt * error_tt
print("Intervalo de Confianza para la Tasa de impuestos en África:")
print(f"Media Muestral: {np.round(media_tt, 2)}")
print(f"Error Estándar: {np.round(error_tt, 2)}")
print(f"Nivel de Confianza: {nivel_confianza_tt}")
print(f"Valor Crítico: {np.round(valor_critico_tt, 2)}")
print(f"Intervalo de Confianza: ({np.round(limite_inferior_tt, 2)}, {np.round(limite_superior_tt, 2)})")

Intervalo de Confianza para la Tasa de impuestos en África:
Media Muestral: 47.48
Error Estándar: 3.9
Nivel de Confianza: 0.9
Valor Crítico: 1.67
Intervalo de Confianza: (40.95, 54.02)

3. Ejercicios prueba de hipótesis: Hasta ahora en la lección y en los ejercicios de la clase invertida os hemos propuesto un contexto y unas hipótesis para entender que es la prueba de hipótesis. Ahora es tu turno, tienes que pensar en 2 hipótesis que quieras aceptar o rechazar usando una prueba de hipótesis en base a los datos que tenemos.

H0 = En los países europeos la tasa de desempleo es mas baja que en los países americanos.


HA = En los países europeos la tasa de desempleo es más alta que en los paises americanos.

In [29]:
def prueba_hipotesis(*args):
#miramos si las varianzas son iguales o no
    if len(args) == 2:
        p_valor_varianza = stats.levene(*args, center = "median")[1]
    else:
        p_valor_varianza = stats.bartlett(*args)[1]
    if p_valor_varianza > 0.05:
        # realizamos la prueba t de Student
        t_stat, p_valor = stats.ttest_ind(*args, equal_var=True)
    else:
        t_stat, p_valor = stats.ttest_ind(*args, equal_var=False)
    # Establecemos un nivel de significancia (alfa)
    alfa = 0.05
    # comparamos el p-valor con el nivel de significancia
    if p_valor < alfa:
        print("Rechazamos la hipótesis nula.")
        print("Hay una diferencia significativa en los ingresos promedio entre los dos grupos.")
    else:
        print("No podemos rechazar la hipótesis nula.")
        print("No hay evidencia suficiente para afirmar una diferencia significativa en los ingresos promedio entre los dos grupos.")

In [33]:
grupo_control = df[df['continent'] == 'North America']["unemployment_rate"]
grupo_alternativo = df[df['continent'] == 'Europe']["unemployment_rate"]
prueba_hipotesis(grupo_control, grupo_alternativo )

No podemos rechazar la hipótesis nula.
No hay evidencia suficiente para afirmar una diferencia significativa en los ingresos promedio entre los dos grupos.